.ExpCon {
  margin: 50px auto;
}
.ExpCon {
  border: 1px solid var(--main-txt-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
