.myser {
  text-align: center;
  margin: 50px;
}
.myser span {
  color: var(--main-txt-color);
}

.myser hr {
  margin: 20px auto;
  width: 100px;
  color: var(--main-txt-color);
}
.PorCon {
  margin: 50px auto;
}
.PorCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.counConf {
  overflow: hidden;
  text-align: center;
  padding: 50px 0;
}

.counConchild {
  margin: auto;
  padding: 15px 0;
  box-shadow: 0px 1px 30px rgba(255, 255, 255, 20%);
}

.counConchild h3 {
  color: var(--main-txt-color);
}
