.welcomeCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.welcomeCon h3 {
  color: var(--main-txt-color);
}

.linCon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AboutCon {
  margin-top: 100px;
}

.AboutConRi {
  margin: auto;
}

.AboutConRi span {
  color: red;
  opacity: 0;
}

.myinfo {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.myinfo > a {
  margin-bottom: 20px;
}
