.welcomeCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.welcomeCon h3 {
  color: var(--main-txt-color);
}
.welcomeCon h2 {
  color: white;
}
.welcomeCon h2 {
  color: white;
}
.welcomeCon p {
  color: white;
}
.welcomeCon div i {
  color: var(--main-txt-color);
}

.linCon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linCon i {
  border: 1px solid var(--main-txt-color);
  font-size: 25px;
  border-radius: 100%;
  padding: 20px 20px;
  margin: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
