.contactChild input {
  border: 1px solid white;
  width: 100%;
  margin-bottom: 30px;

  outline: none;
}

.textareaCon textarea {
  border: 1px solid white;
  width: 100%;
  max-height: 400px;
}

#sendbtn {
  max-width: fit-content;
  padding: 10px 20px;
  margin: 30px auto;
}
